<html>
	<head>
		<title>controlling users</title>
		<script src='bower_components/angular/angular.js'></script>
		<script type="text/javascript">
			var myApp = angular.module('myApp',[])
			myApp.controller('userController', ['$scope', function($scope){
				// $scope.user = {name:'',}
				$scope.users = [];
				$scope.addStudent = function(){
					$scope.users.push($scope.newUser)
					$scope.newUser = {};
				}
				$scope.destroyUser = function(user){
					var i = $scope.users.indexOf(user)
					console.log(i)
					$scope.users.splice(i,1)
				}

			}]);

		</script>
	</head>

	<body ng-app='myApp'>
		<div ng-controller='userController'>
			<div>
				<h1>Add a new User</h1>
				<form ng-submit="addStudent()">
					Firstname: <input type='text' ng-model='newUser.firstname'>
					Lastname: <input type='text' ng-model='newUser.lastname'>
					Favorite Language: <input type='text' ng-model='newUser.language'>
					<input type='submit' value='Create user'>
				</form>
			</div>

			<div>
				<h1>User Table</h1>
				<h3>Search user</h3>
				<input type="text" ng-model="search">
				<table>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Fav Language</th>
					<th>Actions</th>
				</tr>
				<tr ng-repeat = "user in users | filter:search">
					<td >{{user.firstname}}</td>
					<td >{{user.lastname}}</td>
					<td>{{user.language}}</td>
					<!-- <td>{{$index}}</td> -->
					<td><button ng-click="destroyUser(user)">Delete User</button></td>
				</tr>


			</table>

			</div>
		</div>

	</body>
</html>