<html>
<head>
	<title>Association page</title>
</head>
<body>
	<h1>Association page</h1>
	<div ng-controller = "AssociatinsController">
		<div ng-init="getTeams(); getPlayers()">
			
			<form ng-submit="addPlayerToTeam(selectedName)">
				<select ng-model="selectedName.team" ng-options="team.name for team in teams">
				</select>
				<select ng-model="selectedName.player" ng-options="player.name for player in players">
				</select>
				<input type="submit" value="Assign player to team">
			</form> 


			<table ng-init="getPlayers()">
				<tr>
					<th>Name</th>
					<th>Team</th>
					<th>Clear Assignment</th>
				</tr>
				<tr ng-repeat = "player in players">
					<td>{{player.name}}</td>
					<td>{{player.team.name}}</td>
					<td><button ng-click="removePlayerFormTeam($index)">Clear Assignment</button></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>