<div ng-init='FC.index()'>
	<a href="#!/">Friend Dashboard</a>
	<p ng-repeat="error in FC.errors">{{error}}</p>
	<form ng-submit='FC.create(FC.newFriend)'>
		<div>
			<label>First Name</label>
			<input type="text" ng-model="FC.newFriend.first_name">
		</div>
		<div>
			<label>Last Name</label>
			<input type="text" ng-model="FC.newFriend.last_name">
		</div>
		<div>
			<label>Birthday</label>
			<input type="date" ng-model="FC.newFriend.birthday">
		</div>
		<input type="submit" value="create friend">
	</form>

</div>