<!DOCTYPE html>
<html>
	<head>
		<title>Epic button game</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script type ="text/javascript">
        $(document).ready(function (){
            var socket = io.connect();
            $("#blue").click(function(){
                socket.emit("click", {reason: 'blue'})               
            })

            $("#red").click(function(){
                socket.emit("click", {reason: 'red'})               
            })

            socket.on('server_response', function (data){
                // $('#emit-data').html("<h1>"+"This button has been pushed "+ data.click +" time(s)"+"</h1>")
                $('#count').html("<h1>"+ data.click +"</h1>")

            });
        })
        </script>

		<style type="text/css">
            body{
                text-align: center;
            }
			#blue{
                width: 300px;

            }

            #red{
                width: 300px;
            }
            #emit-data{
                text-align: center;
                color: green;
            }

            .container{
                width: 400px;
                text-align: center;
            }

		</style>

	</head>

	<body>
        <div id="emit-data">
            <h1>This button has been pushed <span id="count"></span> time(s)</h1>
        </div>

		<div class="container">
            <h4>Push the button to update count</h4>
            <button type="button" id="blue" class="btn btn-primary btn-lg btn-block">Push the epic button</button>

            <button type="button" id="red" class="btn btn-danger btn-lg btn-block">Reset</button>
			
		</div>


	</body>
</html>