<html>
	<head>
		<title>Mongoose</title>
	</head>

	<body>
		<div class="container">
			<h1>Edit a mongoose</h1>
			<form action="/mongooses/<%= id %>" method="post">

				<div>
					<label for="">Name</label>
					<input type="text" name="name">
				</div>
				<input type="submit" value="Submit">
			</form>
		</div>

	</body>
</html>