<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New</title>
    </head>
    <body>
        <h1>READ TITLES BELOW CODY!!</h1>
        <form class="" action="index.html" method="post">
            Name:
            <input type="text" name="" value="">
            Namaste:
            <input type="text" name="" value="">
            Nah Imma Stay:
            <input type="text" name="" value="">
            Nah Ma Nasty:
            <input type="text" name="" value="">
        </form>
    </body>
</html>
