<html>
<head>
	<title>Information about car</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style type="text/css">
    #container{
      width: 300px;
      margin: 0px auto;
    }
    h1{
      text-align: center;
    }

  </style>
</head>
<body>
  	<h1>Enter Car Info:</h1>
    <div id="container">
  	<form>
    <div class="form-group">
      <label for="name">Car Name:</label>
      <input type="text" class="form-control" id="name" >
    </div>

    <div class="form-group">
      <label for="year">Year made:</label>
      <input type="text" class="form-control" id="year" >
    </div>

     <div class="form-group">
      <label for="type">Type:</label>
      <input type="text" class="form-control" id="type" >
    </div>

    <div class="form-group">
      <label for="exampleTextarea">Example textarea</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
   

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</body>
</html>